.topbar {
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 15px;
}

.bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1200px;
    background: linear-gradient(189.16deg, rgb(57, 15, 199) 13.57%, rgb(40, 35, 77) 98.38%);
}

.w {
  max-width: 1234px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 60px 30px 0;
}

.header .logo {
  width: 44px;
  height: 44px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 26px;
}

.nav a button {
  display: flex;
  padding: 10px 20px;
  background-color: transparent;
  border: 0;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav a button:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(31, 47, 71, 0.25) 0px 20px 40px, rgba(0, 0, 0, 0.1) 0px 1px 5px, rgba(255, 255, 255, 0.4) 0px 0px 0px 0.5px inset;
}

.nav a button img{
  width: 24px;
  height: 24px;
}

.nav a button p{
  font-size: 15px;
  color: #fff;
  margin-left: 10px;
}

.modile-nav{
  display: none;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(15, 14, 71, 0.3);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
  backdrop-filter: blur(40px);
  border-radius: 50%;
}

/* 导航栏响应式效果 */
@media (max-width: 1024px){
  .nav{
    grid-template-columns: repeat(6, auto);
  }

  .nav a:nth-child(6) {
    display: none;
  }
}

@media (max-width: 900px){
  .nav{
    grid-template-columns: repeat(5, auto);
  }

  .nav a:nth-child(3) {
    display: none;
  }
}

@media (max-width: 768px){
  .nav{
    grid-template-columns: repeat(4, auto);
  }

  .nav a:nth-child(2) {
    display: none;
  }
}

@media (max-width: 550px){
  .nav{
    display: none;
  }
  .header{
    padding-top: 20px;
  }
  .modile-nav{
    display: flex;
  }
}

.course{
  display: grid;
  grid-template-columns: 380px auto;
  align-items: end;
  gap: 80px;
  margin-top: 60px;
}

.course-l{
  color: #fff;
}

.course-l .time{
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.course-l h2{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin: 20px 0;
}

.course-l p {
  font-size: 17px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.course-r {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.icon ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}

.icon li{
  list-style: none;
}

.icon li img{
  width: 44px;
  height: 44px;
}
.search{
  position: relative;
}
.search input{
  border: 0;
  outline: 0;
  width: 204px;
  height: 44px;
  padding: 10px 42px;
  border-radius: 30px;
  background: linear-gradient(rgba(99, 106, 150, 0.8) 0%, rgba(182, 186, 214, 0.6) 100%);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px, rgba(255, 255, 255, 0.3) 0px 0px 0px 0.5px inset;
  color: #fff;
}

.search img{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
}

.search input:focus{
  box-shadow: rgba(47, 184, 255, 0.3) 0px 10px 40px, rgb(47, 184, 255) 0px 0px 0px 1px inset;
  background: linear-gradient(rgba(24, 32, 79, 0.4) 0%, rgba(24, 32, 79, 0.25) 100%);
}